### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
**/*.log

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Data files ###
movie_data/cast.csv
movie_data/crew.csv
movie_data/holidays.csv
movie_data/ratings.csv
movie_data/tmdb.csv
movie_data/tmdb_5000_credits.csv
movie_data/tmdb_5000_movies.csv

### Intellij ###
.idea